In [1]:
import pandas as pd
import random

# Create a sample dataset
data = {
    "Month": pd.date_range(start="2024-01-01", periods=12, freq="M").strftime("%b-%Y"),
    "Expense Category": random.choices(
        ["Operations", "Marketing", "Research", "IT"], k=12
    ),
    "Amount": [random.randint(10000, 50000) for _ in range(12)],
    "Region": random.choices(["North", "South", "East", "West"], k=12),
    "Sales": [random.randint(50000, 150000) for _ in range(12)],
    "Type": random.choices(["AP", "AR"], k=12),
    "Aging Bucket": random.choices(
        ["0-30 days", "31-60 days", "61-90 days", "90+ days"], k=12
    ),
}

# Convert to a DataFrame
df = pd.DataFrame(data)

# Save to an Excel file (optional, for testing)
df.to_excel("mock_data.xlsx", index=False)

# Display the DataFrame
print(df)

       Month Expense Category  Amount Region   Sales Type Aging Bucket
0   Jan-2024         Research   27744  South  138060   AP    0-30 days
1   Feb-2024        Marketing   35585   East  111593   AP   31-60 days
2   Mar-2024               IT   35625   East   81389   AP    0-30 days
3   Apr-2024               IT   44774  North  142849   AR   31-60 days
4   May-2024       Operations   41910   West   90979   AR    0-30 days
5   Jun-2024        Marketing   34698  North  143233   AR   61-90 days
6   Jul-2024        Marketing   25269  South   52224   AR   31-60 days
7   Aug-2024        Marketing   29015   East  119591   AP   31-60 days
8   Sep-2024         Research   19760  South   81161   AR   61-90 days
9   Oct-2024       Operations   28521  North   67417   AP   61-90 days
10  Nov-2024       Operations   10576   East  111494   AP     90+ days
11  Dec-2024         Research   42812  South  148961   AR     90+ days

In [2]:
df.describe()

             Amount          Sales
count     12.000000      12.000000
mean   31357.416667  107412.583333
std     9999.266123   32569.765993
min    10576.000000   52224.000000
25%    27125.250000   81332.000000
50%    31856.500000  111543.500000
75%    37196.250000  139257.250000
max    44774.000000  148961.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             12 non-null     object
 1   Expense Category  12 non-null     object
 2   Amount            12 non-null     int64
 3   Region            12 non-null     object
 4   Sales             12 non-null     int64
 5   Type              12 non-null     object
 6   Aging Bucket      12 non-null     object
dtypes: int64(2), object(5)
memory usage: 804.0+ bytes